/* Universal Section Styles */
* {
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
}


/* Banner Section Styles*/
.bnr-background {
    background-color: #E554731A;

}

.banner-container {
    display: flex;
    height: 100vh;
    align-items: center;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    top: 100px;

}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.bnr-btn {
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;

}

.bnr-image {
    width: 340px;
    height: 625px;

}


/* Our Featured Flowers Section Styles */

.feature-title {
    padding-top: 170px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 40%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.feature-image-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 80px;
    text-align: center;
}

.feature-image {
    height: 300px;
    width: 180px;
    background-color: #A7216226;
    padding: 60px 60px 0px 60px;
    border-top-right-radius: 49%;
    border-top-left-radius: 49%;

}
.img1{
    background-color: #A7216226;
}

.img2{
    background-color: #0597A026;
}

.img3{
    background-color: #477D1126;
}

.caption {
    color: #272727;
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* Optional Section Styles */


/* Hot Deal ! Sale Up  Section Styles  */


/* Instagram  Section Styles*/


/* Get The Latest Deals Styles */



/* Footer Section Styles */