/* Universal Section Styles */
* {
    margin: 0px;
    padding: 0px;

    font-family: 'Lato', sans-serif;
}
/* Header Section Styles */
.menu-container{
    display: flex;
    background-color: rgba(240, 43, 86, 0.150);
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.header-logo{
    color: rgba(39, 39, 39, 0.60);
}

.menu-list{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.menu-list a{
    text-decoration: none;
    color: #E55473;
    font-weight: bolder;
}

.menu-list li a:hover{
    color:deepskyblue;
    
}

.header-logo{
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
}

.logo-color{
    color: #E55473;
}



/* Banner Section Styles*/
.bnr-background {
    background-color: #E554731A;

}

.banner-container {
    background-image: url('./asset/bnr-pic1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    height: 100vh;
    align-items: center;
    width: 80%;
    margin: auto;
}

.banner-title {
    color: #272727;
    font-size: 54px;
    width: 52%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;  
}

.banner-container-left-content{
    text-align: left;
    padding-left: 10px;
}

.banner-description {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.bnr-btn {
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.bnr-image {
    width: 340px;
    height: 625px;
}

/* Our Featured Flowers Section Styles */
.feature-title {
    padding-top: 170px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 40%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.feature-image-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 25px;
    text-align: center;
}

.feature-image {
    height: 350px;
    width: 210px;
    background-color: #A7216226;
    padding: 60px 60px 0px 60px;
    border-top-right-radius: 49%;
    border-top-left-radius: 49%;

}

.img1 {
    background-color: #A7216226;
}

.img2 {
    background-color: #0597A026;
}

.img3 {
    background-color: #477D1126;
}

.caption {
    color: #272727;
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* Optional Section Styles */
.optional-section {
    width: 80%;
    margin: auto;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.optional-img {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.optional-content {
    text-align: center;

}

.optional-caption {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

/* Hot Deal ! Sale Up  Section Styles  */
.hot-deal-section {
    background-color: rgba(229, 84, 115, 0.05);
    height: 600px;
    margin-top: 100px;
    width: 100%;
}

.hot-deal-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: auto;
    padding-right: 20px;

}

.hot-deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.off {
    color: red;
}

.hot-deal-content {
    text-align: center;
}

.hot-deal-description {
    width: 70%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.hot-deal-btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;

}

.hot-deal-img {
    width: 250px;
    height: 300px;
}


/* Instagram  Section Styles*/
.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 45px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    width: 50%;
    margin: auto;
}

.instagram-title,
.instagram-description {
    text-align: center;
}

.instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 26px;
    margin-top: 45px;
}

.instagram-image {
    width: 250px;
    height: 300px;
}

/* Get The Latest Deals Styles */
.latest-deal-section {
    width: 84%;
    margin: auto;
    height: 450px;
    background-image: url('asset/subscribe-pic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.deal-input {
    width: 460px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
}

.deal-btn {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
}

/* Footer Section Styles */
.footer-section {
    height: 350px;
    background-color:rgba(240, 43, 86, 0.150);
    text-align: center;
    color: rgba(39, 39, 39, 0.60);

}

.footer-container {
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 150px;
}

.red-flower {
    color: #E55473;
}

.footer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(90, 89, 89);
}