*{
    padding: 0px;
    margin: 0px;
}
/* Banner Section Styles*/
.bnr-background {
    background-color: #E554731A;

}

.banner-container {
    background-image: url('./asset/bnr-pic1.png');
    display: flex;
    background-size: contain;
    height: 100vh;
    align-items: center;
    background-position: right;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;

    /* width: 80%;
    margin: auto;
    padding-top: 20px;
    top: 100px; */

}

.banner-title {
    color: #272727;
    width: 50%;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.bnr-btn {
    padding: 20px 43px;
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;

}

.bnr-image {
    width: 340px;
    height: 625px;

}

.green{
    height: 300px;
    width: 100%;
    background: #0004f0;
}